.unbookedseats {
    color: #534f4f;
}

.bookedseats {
    color: #e60505;
}

.seatslayout {
    padding-left: 50px;
}

.seat-passenger-details-fetcher {
    margin-top: 30;
    width: "90%";
    margin-left: "auto";
    margin-right: "auto";
}

.trip-summary-table{
    margin-top:2.5px;
}

