.container-fluid .payment-form-container {
    width: 40%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.reset-cancle-button-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.reset-cancle-button-container button {
    padding: 8px;
}

.form-group-spacing {
    margin-top: 10px;
}

.amount-field {
    width: 43%;
    margin-top: 3px;
}