.ticket-confirmation-card{
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-header-container-ticket-confirmation{
    display: flex;
    justify-content:space-between;
}

.card-header-container-ticket-confirmation-download{
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}